<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <meta name="description" content="The App is to help employers and job seekers find each other in a simpler and new-age way. It is an online Job Portal plan. To encourage job seekers to apply for jobs offered and find suitable jobs while companies post job vacancies and find good candidates.">
  <title>Job Portal - Find Your Job</title>

  <!-- 
        - social media Meta Tag
      -->
  <meta property="og:title" content="Job Portal">
  <meta property="og:type" content="article">
  <meta property="og:description" content="The App is to help employers and job seekers find each other in a simpler and new-age way. It is an online Job Portal plan. To encourage job seekers to apply for jobs offered and find suitable jobs while companies post job vacancies and find good candidates.">
  <meta property="og:image" content="https://job-portal222.web.app/images/app-banner.png">
  <meta property="og:url" content="https://job-portal222.web.app/">

  <!-- 
    - favicon
  -->
 <!-- Favicon -->
<link rel="shortcut icon" href="../static/images/Job-logo-2.jpg" type="image/jpg">


  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="static/home.css">
  
  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@700;900&display=swap" rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">
      <a href="#" class="logo">
        <img src="static/images/home-img/Job-logo-2.jpg" class="logo-width" alt="Job Portal Logo">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list container">
          <li><a href="#home" class="navbar-link active" data-nav-link>Home</a></li>
          <li><a href="#features" class="navbar-link" data-nav-link>Features</a></li>
          <li><a href="#app" class="navbar-link" data-nav-link>App</a></li>
          <li><a href="#team" class="navbar-link" data-nav-link>Team</a></li>
          <li><a href="/login" class="btn btn-primary" style="background-color: rgb(198, 198, 234); color: black;">Login</a></li>
          <li><a href="/register" class="btn btn-primary">Register</a></li>
        </ul>
      </nav>

      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

    </div>
  </header>

  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="hero" id="home">
        <div class="container">
          <div class="hero-content">
            <h1 class="h1 hero-title">Find A <span style="color: green;">Job</span> That <span style="color: green;">Matches</span> Your Passion </h1>
            <p class="section-text">
              The purpose of this website is to help employers and job seekers find each other in a simpler and new age way. It is an online Job Portal plan. Hand-picked opportunities to work from home, remotely, freelance, full-time, part-time, contract and internships.
            </p>

            <ul class="btn-list">
              <li>
                <a href="#" class="btn-item-link" aria-label="Download from app store">
                  <img src="/static/images/home-img/app-store.png" width="185" height="69" alt="app store" class="img">
                </a>
              </li>
              <li>
                <a href="https://play.google.com/store/apps?hl=en_IN" class="btn-item-link" aria-label="Download from play store">
                  <img src="static/images/home-img/play-store.png" width="185" height="69" alt="play store" class="img">
                </a>
              </li>
            </ul>
          </div>

          <figure class="hero-banner">
            <img src="static/images/home-img/hero-banner.png" width="569" height="804" alt="hero banner" class="w-100">
          </figure>

        </div>
      </section>

      <!-- 
        - #APP
      -->

      <section class="section about-2" aria-label="about" id="app">
        <div class="container">

          <div class="about-content">
            <p class="section-subtitle">Cool & Amazing Design</p>
            <h2 class="h2 section-title">We Develop Amazing Web App For Jobseeker</h2>
            <p class="section-text">
              The design was created to create a structure that organizes all the logic of the system. These designs are created in a way of change and evolution (that is, they are always designed). They are often simpler in nature but evolve into something more complex with each intervention.
            </p>
            <p class="section-text">
              The Python Flutter framework is designed and adapted to the required system requirements and needs. Flask is used for web development.
            </p>
            <a href="#" class="btn btn-secondary">Discover More</a>
          </div>

          <figure class="about-banner">
            <img src="static/images/home-img/job1.png" width="1146" height="1226" loading="lazy" alt="about banner" class="w-100">
          </figure>

        </div>
      </section>

      <!-- 
        - #FEATURES
      -->

      <section class="section features" id="features" aria-label="features">
        <div class="container">
          <p class="section-subtitle">Our App Feature</p>
          <h2 class="h2 section-title">Awesome Features</h2>

          <ul class="features-list">
            <li class="features-item">
              <div class="features-card">
                <div class="card-icon">
                  <ion-icon name="log-in-outline" aria-hidden="true"></ion-icon>
                </div>
                <h3 class="h3 card-title">Registration</h3>
                <p class="card-text">By Simple Steps Using Email & Password</p>
              </div>
            </li>
            <li class="features-item">
              <div class="features-card">
                <div class="card-icon">
                  <ion-icon name="search-circle-outline" aria-hidden="true"></ion-icon>
                </div>
                <h3 class="h3 card-title">Easy to Search</h3>
                <p class="card-text">Go to the Search Box and Write the Job Title</p>
              </div>
            </li>
            <li class="features-item">
              <div class="features-card">
                <div class="card-icon">
                  <ion-icon name="settings-outline" aria-hidden="true"></ion-icon>
                </div>
                <h3 class="h3 card-title">Manage Profile</h3>
                <p class="card-text">Edit Personal Info, Profile Picture and Upload CV</p>
              </div>
            </li>
            <li class="features-item">
              <div class="features-card">
                <div class="card-icon">
                  <div class="center-up-down">
                    <ion-icon name="arrow-down-circle-outline" aria-hidden="true"></ion-icon>
                    <ion-icon name="arrow-up-circle-outline" aria-hidden="true"></ion-icon>
                  </div>
                </div>
                <h3 class="h3 card-title">Apply & Upload</h3>
                <p class="card-text">Simple steps you can Upload & Apply Jobs</p>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <!-- 
        - #APP 2
      -->

      <section class="section app" aria-label="app" id="app">
        <div class="container">

          <figure class="app-banner">
            <img src="static/images/home-img/app-banner-2.png" width="449" height="608" loading="lazy" alt="app banner" class="w-100">
          </figure>

          <div class="app-content">
            <p class="section-subtitle"> How We Proceed with Application </p>
            <h2 class="h2 section-title">Knowing How the Process Works</h2>
            <p class="section-text">
              The Job Portal App works using the searching algorithm. It uses a database system that stores the information of employers (companies) and job seekers, as the information required
